.eu-law-container{
	position: fixed;
	/*bottom: 0px;*/
	width: 100%;
	display: none;
	z-index: 9999;
}
.eu-law-widget{
	
	/*width: 80%;*/
	margin:0 auto;
	/*background-color: #ff0000;*/
	/*color:#fff;*/
	    /*line-height: 29px;*/
    /*font-size: 13px;*/
	text-align: center;
	
}
.eu-law-t{
	display: table;
	margin: 0 auto;
}
.eu-law-text{
	line-height: normal;
    padding-right: 10px;
    text-align: left;
    max-width: 500px;
    display: table-cell;
    vertical-align: middle;
}
.eu-law-links{
	display: table-cell;
    text-align: left;
    vertical-align: middle;
}
.eu-law-widget a{
	margin:0 5px
}
.eu-law-text a{
	margin:0;
	text-decoration: underline;
}

.eu-law-widget .my-btn{
	/*display: inline-block;*/
    /*background: #000;*/
    /*color: #fff;*/
    /*padding: 0 10px;*/
}